body{
 background-color: black;
  margin: 0;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
}

/*Header begins*/

header{
  display: flex;
  font-family: Helvetica;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
  z-index: 5;
  background-color: black;
}

.image img{
  height: 50px;
  margin-left: 10px;
}

.header-nav li{
  display: inline-block;
  list-style: none;
  margin: 0 7px;
}

.header-nav li a{
  color: seashell;
}

/*Header Ends*/
/*Main Content Begins*/
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*First box Begins*/

.first-box{
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  justify-content: center;
  align-items: center;
}

.mission-statement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: seashell;
  width: 1200px;
  margin-top: 80px;
  background-color: black;
}

/*First Box Ends*/
/*Second Box Begins*/

.second-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  margin-bottom: 50px;
}

.tea{
  font-weight: bold;
}

.tea img{
  width: 300px;
  height: 200px;
  margin: 15px;
}

.tea-types{
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
}

.tea.berry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea.rum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea.donuts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea.myrtle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea.bizarre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Second Box Ends*/
/*Third Box Begins*/

.third-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 570px;
  width: 1200px;
}

.third-box h2{
  margin-top: 80px;
  font-weight: bold;
  font-size: 28px;
}

.locations-box{
  display: flex;
  justify-content: space-around;
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0px 20px;
  background-color: black;
}

/*Third Box Ends*/
/*Footer Begins*/

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.contact h5{
  font-weight: bold;
  font-size: 22px;
}

footer p{
  font-weight: bold;
  padding-left: 20px;
}

/*Footer Ends*/
